{% load static %} {% for i in project %} {% for j in about_me %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>hi there!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{%static 'Home/css/style.css' %}" type="text/css" media="screen, projection, tv" />
    <link rel="stylesheet" href="{%static 'Home/css/style-print.css' %}" type="text/css" media="print" />
</head>

<body>
    <div id="wrapper">
        <div class="title">
            <div class="title-top">
                <div class="title-left">
                    <div class="title-right">
                        <div class="title-bottom">
                            <div class="title-top-left">
                                <div class="title-bottom-left">
                                    <div class="title-top-right">
                                        <div class="title-bottom-right">
                                            <h1><a href="http://www.zahrakoohestani.ir/"><span>{{ i.name }}</span></a></h1>
                                            <p>{{ i.description }}&hellip;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="noscreen" />
        <div class="content">
            <div class="column-left">
                <h3>MENU</h3>
                <a href="#skip-menu" class="hidden">Skip menu</a>
                <ul class="menu">
                    <li><a href="http://www.zahrakoohestani.ir/" class="active">Home</a></li>
                    <li><a href="http://www.internplusplus.ir">Our Podcast</a></li>
                    <li class="last"><a href="http://all-free-download.com/free-website-templates/">Media Platforms</a></li>
                </ul>
            </div>
            <div id="skip-menu"></div>
            <div class="column-right">
                <div class="box">
                    <div class="box-top"></div>
                    <div class="box-in">
                        <h2>{{ j.first_title }}</h2>
                        <p>{{ j.first_caption }}</p>
                        <p>{{ j.second_caption }}</p>
                        <br/>
                        <h2>{{ j.second_title }}</h2>
                        <ul class="main-list">
                            <li>{{ j.li_1 }}</li>
                            <li>{{ j.li_2 }}</li>
                            <li>{{ j.li_3 }}</li>
                            <li>{{ j.li_4 }}</li>
                            <li>{{ j.li_5 }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    </div>
    <div align=center>This template downloaded from <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>

</html>
{% endfor %}{% endfor %}